layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="RHEL" focus=true {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane name="centos-7" command="./bin/dev-lab-bash" { args "bash-test/centos-7-bash-test"; }
                pane name="oraclelinux-8" command="./bin/dev-lab-bash" { args "bash-test/oraclelinux-8-bash-test"; }
                pane name="oraclelinux-9" command="./bin/dev-lab-bash" { args "bash-test/oraclelinux-9-bash-test"; }
            }
            pane split_direction="horizontal" {
                pane name="rhel-10" command="./bin/dev-lab-bash" { args "bash-test/rhel-10-bash-test"; }
                pane name="rockylinux-9" command="./bin/dev-lab-bash" { args "bash-test/rockylinux-9-bash-test"; }
                pane name="almalinux-9" command="./bin/dev-lab-bash" { args "bash-test/almalinux-9-bash-test"; }
            }
        }
    }
}
